html,
body {
  width: 100%;
  height: 100%;
  background-color: #0874FF;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
}
#app .bg{
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(26px);
}
#app .van-image {
  width: 100%;
}
#app .pro-detail {
  width: 100%;
}
#app .pro-detail .pro-bg.bg2 .product-title {
  color: #7A2902;
}
#app .pro-detail .pro-bg.bg2 .product-content {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(151, 151, 151, 0.2);
}
#app .pro-detail .pro-bg.bg2 .product-content .content-title {
  color: #7A2902;
}
#app .pro-detail .pro-bg.bg2 .product-content .tiny-content {
  color: rgba(0, 0, 0, 0.8);
}
#app .pro-detail .pro-bg.bg2 .pro-table .td {
  color: rgba(0, 0, 0, 0.8);
}
#app .pro-detail .pro-bg.bg2 .the-bottom-hint {
  color: rgba(0, 0, 0, 0.8);
}
#app .pro-detail .pro-bg .product-title {
  position: relative;
  padding-left: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #FDDAA2;
  display: flex;
  align-items: center;
}
#app .pro-detail .pro-bg .product-title span {
  display: inline-block;
  width: 4px;
  height: 20px;
  background: #f17653;
  background: linear-gradient(90deg, #EEB87E, #F5372A);
  background-image: -ms-radial-gradient(left right, circle cover, #EEB87E, #F5372A);
  background: -webkit-linear-gradient(left, #EEB87E, #F5372A);
  background: -o-linear-gradient(left, #EEB87E, #F5372A);
  background: -moz-linear-gradient(left, #EEB87E, #F5372A);
  margin: 5px 3px 0 0;
}
#app .pro-detail .pro-bg .product-content {
  margin: 14px;
  background: rgba(255, 255, 255, 0.25);
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 7px 12px 20px;
}
#app .pro-detail .pro-bg .product-content .content-title {
  font-size: 18px;
  font-weight: bold;
  color: #FDDAA2;
  margin-bottom: 16px;
  display: flex;
}
#app .pro-detail .pro-bg .product-content .content-title span {
  padding-left: 10px;
  width: calc(50% - 10px);
}
#app .pro-detail .pro-bg .product-content .content-detail {
  display: flex;
}
#app .pro-detail .pro-bg .product-content .content-detail .content-part {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}
#app .pro-detail .pro-bg .product-content .content-detail .content-part:nth-child(1) {
  border-right: 1px solid rgba(151, 151, 151, 0.2);
}
#app .pro-detail .pro-bg .product-content .tiny-title {
  font-size: 12px;
  font-weight: bold;
  color: #FDDAA2;
  line-height: 1.8;
  padding: 5px 0;
}
#app .pro-detail .pro-bg .product-content .tiny-content {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 20px;
}
#app .verify-content {
  position: relative;
  width: 300px;
  background-color: #fff;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
#app .verify-content .the-hint {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}
#app .verify-content .input-phone {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 40px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#app .verify-content .input-verify {
  display: flex;
}
#app .verify-content .input-verify input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 40px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#app .verify-content .input-verify .verify-btn {
  margin-left: 9px;
  flex-shrink: 0;
  width: 104px;
  height: 40px;
  line-height: 40px;
  background: #006FFF;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  text-align: center;
}
#app .verify-content .input-verify .verify-btn.grey-btn {
  background-color: transparent;
  color: #000000;
  font-size: 13px;
}
#app .verify-content .the-btn {
  display: flex;
  height: 50px;
  margin-top: 20px;
}
#app .verify-content .the-btn .cancel-btn,
#app .verify-content .the-btn .sure-btn {
  width: 50%;
  border: none;
  background-color: inherit;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 54px;
  text-align: center;
  height: 100%;
}
#app .verify-content .the-btn .cancel-btn {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: rgba(0,0,0,0.6);
  letter-spacing: 1px;
}
#app .verify-content .the-btn .sure-btn {
  font-size: 16px;
  color: #0370FF;
  letter-spacing: 1px;
}
#app .iphoneX-btn {
  position: fixed;
  left: 50%;
  bottom: 40px;
  margin-left: -145px;
  border: none;
  width: 290px;
  height: 54px;
  background: linear-gradient(315deg, #F52F29 0%, #F86D36 100%);
  border-radius: 27px;
  z-index: 2;
}
#app .pro-table {
  margin: 14px;
  background: rgba(255, 255, 255, 0.25);
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.2);
  overflow: hidden;
}
#app .pro-table .tr {
  display: flex;
  background: #f17653;
  background: linear-gradient(90deg, #F86D36, #F52F29);
  background-image: -ms-radial-gradient(left right, circle cover, #F86D36, #F52F29);
  background: -webkit-linear-gradient(left, #F86D36, #F52F29);
  background: -o-linear-gradient(left, #F86D36, #F52F29);
  background: -moz-linear-gradient(left, #F86D36, #F52F29);
  font-size: 14px;
  font-weight: bold;
  color: #FDDAA2;
}
#app .pro-table .tr > div {
  border-right: solid 1px rgba(151, 151, 151, 0.2);
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
#app .pro-table .tr > div:nth-child(1) {
  width: 72px;
  flex-shrink: 0;
}
#app .pro-table .tr > div:nth-child(2),
#app .pro-table .tr > div:nth-child(3),
#app .pro-table .tr > div:nth-child(4) {
  width: calc(100% / 3 - 24px);
}
#app .pro-table .tr > div:last-child {
  border: none;
}
#app .pro-table .td {
  display: flex;
  font-size: 11px;
  color: #FFFFFF;
}
#app .pro-table .td > div {
  position: relative;
}
#app .pro-table .td > div:nth-child(1) {
  width: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-right: solid 1px rgba(151, 151, 151, 0.2);
  flex-shrink: 0;
  border-top: solid 1px rgba(151, 151, 151, 0.2);
  font-weight: bold;
}
#app .pro-table .td > div:nth-child(2) {
  width: calc(100% - 72px);
}
#app .pro-table .td > div .inner-td {
  border-top: solid 1px rgba(151, 151, 151, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#app .pro-table .td > div .inner-td > div {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  word-break: break-word;
}
#app .pro-table .td > div .inner-td > div:nth-child(1) {
  padding: 16px;
  border-right: solid 1px rgba(151, 151, 151, 0.2);
}
#app .pro-table .td > div .inner-td > div:nth-child(2) {
  border-right: solid 1px rgba(151, 151, 151, 0.2);
  padding: 16px;
}
#app .pro-table .td > div .inner-td > div:nth-child(3) {
  padding: 16px;
  border-right: solid 1px rgba(151, 151, 151, 0.2);
}
#app .the-bottom-hint {
  display: block;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 16px;
  padding-bottom: 160px;
  margin: 25px auto 0;
  text-align: center;
}
#app .van-cell::after{
	border-bottom: none;
}
/*# sourceMappingURL=index.css.map */